/* 
  Default Style Settings
  Use this code to import to a component:
  @import '~assets/sass/variables';
*/

@import './typography';

$helveticaRegular: 'helveticaregular', Arial, 'Lucida Grande', sans-serif;
$helveticaBold: 'helvetica', Arial, 'Lucida Grande', sans-serif;
$helveticaLight: 'helveticalight', Arial, 'Lucida Grande', sans-serif;
$questrialRegular: 'questrial-regular', 'Helvetica', Arial, 'Lucida Grande', sans-serif;

$themeMainColor: #72bab3;
