/* You can add global styles to this file, and also import other style files */

/*
Admin LTE customization
*/


// bootstrap functions customization
@import "./admin-lte/bootstrap-functions";

// bootstrap variables customization
@import "./admin-lte/bootstrap-variables";

//build boostrap library
@import '~bootstrap/scss/bootstrap';

@import "./admin-lte/variables";

// build AdminLTE theme styles
@import "~admin-lte/build/scss/adminlte";

// Google Font: Source Sans Pro
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');


@import './variables';
@import './components/main-style';
@import './components/sidebar';
@import './components/forms';
@import './components/benefits';
@import './components/accordion';
@import './components/modal';
@import './components/datepicker';

body {
  margin: 0;
  font-family: $questrialRegular;
}

// Admin-LTE style custom

.main-sidebar {
  background-color: #1f2a38;

  > .brand-link {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7c8795;
  
    > .brand-image {
      height: 25px;
      max-height: unset;
      margin-top: 0;
    }
    > .brand-text > img {
      height: 25px;
      position: relative;
      left: -36px;
    }
  }

  > .sidebar {
    padding: 0;
    overflow-y: unset !important;

    .nav {
      > .nav-item {
        > .nav-link {
          width: 100%;
          border-radius: 0;
          padding: 1rem 1.2rem;
          color: #c5c7ca;
          border-left: 3px solid #1f2a38;

          &:hover {
            color: #ffffff;
          }

          &.active {
            background-color: #161d28;
            color: #ffffff;
            border-left: 3px solid #72bab3;
          }

          > .nav-icon {
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
}