.partbnb-logo,
.thepropertycrowd {
  cursor: pointer;
}

.footer {
  .main-logo svg {
    width: 134px;
    height: 34px;
  }
}

.icon-md {
  svg {
    position: relative;
    top: 2px;
  }

  &-3 svg {
    position: relative;
    top: 3px;
  }

  &-4 svg {
    position: relative;
    top: 4px;
  }

  &-5 svg {
    position: relative;
    top: 5px;
  }

  &-6 svg {
    position: relative;
    top: 6px;
  }

  &-7 svg {
    position: relative;
    top: 7px;
  }
}

.wallet {
  &-icon {
    svg {
      width: 22px;
      position: relative;
      top: 3px;
    }
  }
}

.add-property-icon {
  svg {
    position: relative;
    top: 2px;
    width: 12px;
  }
}

@media (max-width: 575px) {
  .mobile-icon {
    &-time svg {
      width: 17px;
      top: 4px;
    }
  }

  .wallet-icon svg {
    width: 20px;
  }

  .blank-content icon-empty-property {
    >svg {
      width: 180px;
      height: 180px;
    }
  }
}

.confirm-logo {
  svg {
    width: 180px;
    height: 45.6px;
  }

  @media (max-width: 660px) {
    svg {
      width: 139px;
      height: 35px;
    }
  }
}
