.my-properties {
  .pg-select {
    .pg-select-selection {
      margin: 0 5px;
    }
    .pg-select-selection-selected-value {
      font-size: 12px;
    }
    &.sorts {
      .pg-select-selection-selected-value {
        float: right;
        padding-right: 5px;
      }
      .pg-select-arrow {
        right: unset;
        left: 13px;
        opacity: 1;
        &:before {
          content: none;
        }
      }
    }
    &.toggler {
      .pg-select-selection-selected-value {
        padding-right: 25px;
      }
      .pg-select-arrow {
        opacity: 1;
        &:before {
          content: none;
        }
      }
    }
    &.pg-display {
      .pg-select-selection {
        margin: 0;
        .pg-select-selection-selected-value {
          font-family: $helveticaBold;
          font-size: 11px;
          color: #626262;
        }
      }
    }

    @media (max-width: 991px) {
      &.properties {
        > .pg-select-selection {
          margin: 0;
          margin-right: 5px;
        }
      }
      &.sorts {
        > .pg-select-selection {
          margin: 0;
          margin-left: 5px;
        }
      }
    }
  }
}

.pg-select-dropdown-menu {
  > li {
    font-size: 12px;
  }
}
