@import '~assets/sass/variables';


.quote-engine-ui {
  position: relative;

  > .engine-content {

    > .tool-sidebar {
      position: relative;
      width: 250px;
      background: $themeMainColor;

      > .sidebar-header {
        font-family: $questrialRegular;
        color: #ffffff;
        font-size: 18px;
        padding: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #6bafa8;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .fas {
          font-size: 14px;
        }

        > .options {
          cursor: pointer;
        }
      }

      > .client-list {
        max-height: calc( 100vh - 138px );
        overflow-x: auto;

        &::-webkit-scrollbar-track {
          background-color: $themeMainColor;
        }

        &::-webkit-scrollbar {
          width: 5px;
          background-color: $themeMainColor;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #588f8a;
        }

        > .client-item {
          &.disabled {
            // > .details {
            //   &:hover {
            //     background: $themeMainColor;
            //   }
            // }

            > .client-benefits {
              > .empty-btn:hover {
                color: #80d2ca;
                border: 1px dashed #80d2ca;
              }
            }
          }

          > .details {
            // cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;

            // &:hover {
            //   background: #6aada6;
            // }

            > .info {
              cursor: pointer;
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              text-decoration: none;

              > label {
                cursor: pointer;
                font-family: $helveticaBold;
                font-size: 14px;
                color: #ffffff;
                margin: 0;
                line-height: 14px;

                > .icn {
                  margin-left: 5px;
                  position: relative;
                  top: 1px;
                }
              }

              > p {
                font-family: $questrialRegular;
                font-size: 10px;
                line-height: 14px;
                color: #ffffff;
                opacity: 0.85;
                margin: 0;
                display: flex;
                align-items: center;

                > .fas {
                  margin: 0 4px;
                  font-size: 4px;
                }
              }
            }

            > .btn-option {
              position: relative;
              // cursor: pointer;
              // float: right;
              // color: #ffffff;
              // margin-right: 5px;
              // font-size: 14px;
              > button {
                padding-right: 2px;
                padding-left: 5px;

                &:focus {
                  box-shadow: none;
                }

                &:after {
                  display: none;
                }

                > .fas {
                  color: #ffffff;
                  font-size: 14px;
                }
              }

              > .dropdown-menu {
                padding: 5px 0;

                > li > .dropdown-item {
                  cursor: pointer;
                  padding: 5px 20px;
                  display: flex;
                  align-items: center;

                  &:hover {
                    background: #e9f5f4;
                  }

                  &.delete {
                    > .far,
                    > span {
                      color: #ab5462;
                    }
                  }

                  > .far {
                    margin-right: 8px;
                    font-size: 13px;
                    color: #666666;
                    position: relative;
                    top: 1px;
                  }

                  > span {
                    cursor: pointer;
                    font-size: 13px;
                  }
                }
              }
            }
          }

          > .client-benefits {
            background: #6aada6;
            padding: 15px 20px;

            &:hover {
              > .empty-btn.hidden-me {
                display: flex;
              }
            }

            > .benefit-item {
              padding: 10px 0;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &:hover {
                > .far {
                  display: block;
                }
              }

              > a {
                cursor: pointer;
                flex-grow: 1;
                color: #ffffff;
                font-family: $questrialRegular;
                font-size: 12px;
                margin: 0;
                display: flex;
                text-decoration: none;

                > .benefit-icn {
                  height: 15px;
                  margin-right: 5px;
                }

                > .icn {
                  margin-left: 5px;
                  position: relative;
                  top: 1px;
                }
              }

              > .far {
                cursor: pointer;
                font-size: 12px;
                color: #d0e2e1;
                display: none;
                margin-right: 1px;
              }
            }

            > .empty-btn {
              cursor: pointer;
              padding: 4px 10px;
              font-family: $helveticaBold;
              font-size: 10px;
              color: #80d2ca;
              border: 1px dashed #80d2ca;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;

              &.hidden-me {
                display: none;
              }

              > .fas {
                font-size: 9px;
                margin-right: 5px;
              }

              &:hover {
                color: #ffffff;
                border: 1px dashed #ffffff;
                text-decoration: unset;
              }
            }
          }
        }

        > .sidebar-btn {
          > a {
            display: block;
            cursor: pointer;
            font-family: $questrialRegular;
            font-size: 14px;
            background: $themeMainColor;
            color: #c8e5e4;
            border: 0;
            width: 100%;
            padding: 20px;
            text-align: left;
    
            &.disabled {
              cursor: not-allowed;
            }
    
            > .fas {
              margin-right: 5px;
            }
    
            &:hover {
              color: #ffffff;
              text-decoration: unset;
            }
          }
        }
      }
    }
  }
}