.tpc-input-group {
  position: relative;
  background: #ffffff;
  font-family: $sourceSansPro;
  height: 50px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  &.focused {
    border: 1px solid #14a1a8;
  }
  &.ready {
    > label {
      font-size: 10px !important;
      top: 2px;
      opacity: 0.8;
    }
  }
  &.has-error,
  &.error {
    border: 1px solid #f55753 !important;
  }
  > label {
    font-family: $sourceSansPro;
    font-size: 12px !important;
    color: #989898;
    position: absolute;
    top: 14px;
    margin: 0;
    text-transform: uppercase;
  }
  > input {
    font-family: $sourceSansPro;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #525252;
    border: 0;
    padding-top: 15px;
  }
}

/* The TPC customcheck */
.tpc-checkbox {
  font-family: $sourceSansPro;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 13px !important;
  color: #525252;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  > a {
    font-family: $sourceSansPro;
    font-weight: 600;
    color: #14a1a8 !important;
  }
}

.tpc-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tpc-checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #14a1a8;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.tpc-checkbox:hover input ~ span {
  background-color: #ccc;
}

.tpc-checkbox input:checked ~ span {
  background: #14a1a8;
  border: 1px solid #14a1a8;
  box-shadow: none;
  border-radius: 2px;
}

.tpc-checkbox span:after {
  content: '';
  position: absolute;
  display: none;
}

.tpc-checkbox input:checked ~ span:after {
  display: block;
}

.tpc-checkbox span:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  // content: '\f00c';
  // font-family: FontAwesome;
  // color: #fff;
  // font-size: 12px;
  // position: absolute;
  // left: 4px;
  // top: -1px;
}
/* The TPC customcheck End here..*/

.tpc-button {
  cursor: pointer;
  height: 50px;
  width: 100%;
  max-width: 400px;
  font-family: $sourceSansPro;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #ffffff;
  text-align: center;
  background: #14a1a8;
  border: 1px solid #14a1a8;
  -webkit-box-shadow: 3px 5px 10px 0 rgba(111, 111, 111, 0.5);
  -moz-box-shadow: 3px 5px 10px 0 rgba(111, 111, 111, 0.5);
  box-shadow: 3px 5px 10px 0 rgba(111, 111, 111, 0.5);
  border-radius: 5px;
  &:disabled {
    background: rgba(#37b9c4, 0.46);
    border: 0;
  }
  &:hover {
    opacity: 0.9;
  }
}

.tpc-button-link {
  cursor: pointer;
  font-family: $sourceSansPro;
  font-size: 13px;
  color: #14a1a8 !important;
  text-align: center;
  line-height: 19px;
  text-decoration: underline !important;
  margin-top: 20px;
}

.tpc-error {
  margin-bottom: 10px;
  &.default {
    > .status {
      background: rgba(#909090, 0.3);
    }
  }
  &.Weak {
    > .status {
      background: #d46353;
    }
    > label > span {
      color: #d46353;
    }
  }
  &.Medium {
    > .status {
      background: #d4bb53;
    }
    > label > span {
      color: #d4bb53;
    }
  }
  &.Strong {
    > .status {
      background: #14a1a8;
    }
    > label > span {
      color: #14a1a8;
    }
  }
  > .status {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  > label {
    font-family: $sourceSansPro;
    font-size: 13px;
    color: #909090;
    line-height: 18px;
    margin-bottom: 5px;
    > span {
      font-family: $sourceSansProBold;
      color: #d46353;
    }
  }
  > .error-info {
    background: rgba(147, 211, 221, 0.1);
    border: 1px solid rgba(55, 185, 196, 0.2);
    border-radius: 5px;
    padding: 7px 10px;
    > p {
      font-family: $sourceSansPro;
      font-size: 12px;
      color: #959595;
      line-height: 19px;
      margin-bottom: 5px;
      > b {
        font-family: $sourceSansProBold;
        color: #525252;
      }
    }
    > span {
      font-family: $sourceSansPro;
      font-size: 12px;
      color: #525252;
      line-height: 19px;
    }
    > .error-details {
      > .item {
        padding: 0;
        > .fa {
          margin-right: 5px;
          &.fa-check {
            color: #14a1a8;
          }
          &.fa-close {
            color: #d46353;
          }
        }
        > span {
          font-family: $sourceSansPro;
          font-size: 12px;
          color: #959595;
          line-height: 22px;
        }
      }
    }
  }
}

.yesno-options {
  display: flex;
  margin-bottom: 10px;
  > .option {
    position: relative;
    flex-grow: 1;
    width: 100%;
    > label {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0;

      background: #ffffff;
      border: 1px solid #14a1a8;
      box-shadow: 3px 5px 10px 0 rgba(184, 184, 184, 0.5);
      border-radius: 5px;
      font-family: $sourceSansPro;
      font-weight: 600;
      font-size: 16px;
      color: #14a1a8;
      text-align: center;
      &.active {
        background: #14a1a8;
        border-color: #14a1a8;
        color: #ffffff;
      }
    }
    > input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    > input:checked + label {
      background: #14a1a8;
      border-color: #14a1a8;
      color: #ffffff;
    }
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
}

.tpc-box-choices {
  margin-bottom: 10px;
  > .box-option {
    position: relative;
    margin-bottom: 10px;
    > label {
      height: 40px;
      width: 100%;
      background: rgba(147, 211, 221, 0.1);
      border: 1px solid #37b9c4;
      border-radius: 5px;
      font-family: $sourceSansPro;
      font-size: 14px;
      color: #14a1a8;
      margin: 0;
      padding: 7px 10px;
      padding-left: 40px;
    }
    > input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    > input:checked + label {
      background: #14a1a8;
      border-color: #37b9c4;
      color: #ffffff;
      &:before {
        content: '\f00c';
        font-family: FontAwesome;
        color: #ffffff;
        font-size: 14px;
        position: absolute;
        left: 16px;
        top: 9px;
      }
    }
  }
}

.tpc-searchbox {
  position: relative;
  // height: 50px;
  height: 55px;
  width: 100%;
  background: #ffffff;
  // border: 1px solid #dddddd;
  border: 1px solid rgba(0, 0, 0, 0.07);
  // border-radius: 5px;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 35px;
  margin-bottom: 10px;
  > input {
    font-family: $sourceSansPro;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #525252;
    border: 0;
  }
  > .icon-search {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}

.tpc-select {
  .pg-select .pg-select-selection {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
