.sign-up-tpc {
  > .tpc-header {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 250px;
    background-image: linear-gradient(
      131deg,
      rgba(20, 161, 168, 0.74) 0%,
      #14a1a8 75%
    );
    text-align: center;
    padding-bottom: 35px;
    .tpc-header-menu {
      position: relative;
      height: auto;
      min-height: 75px;
      padding-top: 30px;
      margin-bottom: 45px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      > .logo,
      > .logo-mobile {
        cursor: pointer;
        margin: 0;
      }
      > .logo {
        display: block;
        &.stay {
          display: block !important;
        }
      }
      > .logo-mobile {
        display: none;
      }
      > .icon-button {
        color: #fff;
        cursor: pointer;
        &.back {
          font-size: 20px;
          font-weight: bold;
        }
        &.menu {
          font-size: 18px;
        }
        &.close {
          font-size: 26px;
          opacity: 0.8;
          position: absolute;
          right: 0;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    h3 {
      font-family: $ralewayRegular;
      font-size: 35px;
      color: #ffffff;
      text-align: center;
    }
    p {
      margin: 0;
      font-family: $ralewayRegular;
      font-size: 18px;
      color: #ffffff;
      text-align: center;
      &.small {
        font-size: 14px;
        line-height: 19px;
        &.margin {
          margin-bottom: 3px;
        }
      }
    }

    @media (max-width: 767px) {
      min-height: 190px;
      .tpc-header-menu {
        margin-bottom: 15px;
        > .logo {
          display: none;
        }
        > .logo-mobile {
          display: block;
        }
      }
      h3 {
        font-size: 25px;
        &.stay {
          font-size: 30px;
        }
      }
      p {
        display: none;
        &.stay {
          display: block;
        }
      }
    }
  }

  > .tpc-content {
    padding-top: 40px;
    padding-bottom: 40px;

    .separator {
      width: 100%;
      border-top: 1px solid #dddddd;
    }

    .scrollable-section {
      width: 100%;
      height: calc(100vh - 480px);
      overflow-y: scroll;
      margin-bottom: 20px;
      padding-right: 10px;
      p:last-child {
        margin-bottom: 0;
      }
    }

    .scrollable-section::-webkit-scrollbar-track {
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: transparent;
    }

    .scrollable-section::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    .scrollable-section::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #14a1a8;
    }

    p {
      &.text {
        font-family: $sourceSansPro;
        font-size: 14px;
        color: #959595;
        line-height: 19px;
        margin-bottom: 20px;
      }
      &.title {
        font-family: $ralewayRegular;
        font-size: 22px;
        color: #525252;
        line-height: initial;
        margin-bottom: 20px;
        &.bold {
          font-family: $ralewayBold;
        }
      }
      &.subtitle {
        font-family: $ralewayRegular;
        font-size: 18px;
        color: #525252;
        line-height: initial;
        margin-bottom: 20px;
      }
      &.extra-space {
        margin-bottom: 30px;
      }
      &.show-mobile {
        display: none;
      }
    }

    .order-text > li {
      font-family: $sourceSansPro;
      font-size: 14px;
      color: #959595;
    }

    .checkbox {
      &.tpc-check input:checked + label:before {
        border-color: #14a1a8;
      }
      label {
        font-family: $sourceSansPro;
        color: #525252;
        > a {
          font-family: $sourceSansPro;
          font-weight: 600;
          color: #14a1a8 !important;
        }
      }
    }
    @media (max-width: 767px) {
      padding-top: 20px;
      .scrollable-section {
        height: auto !important;
        margin-bottom: 0;
        padding-right: 0;
      }
      p {
        &.show-mobile {
          display: block;
        }
      }
    }
  }

  &.welcome {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .welcome-container {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon-logo {
        cursor: pointer;
        margin-bottom: 40px;
      }
      p {
        font-family: $sourceSansPro;
        font-size: 18px;
        color: #959595;
        text-align: center;
        line-height: 24px;
        margin-bottom: 20px;
        &.title {
          font-family: $ralewayRegular;
          font-size: 30px;
          line-height: initial;
          color: #525252;
        }
      }
    }

    @media (max-width: 767px) {
      align-items: flex-start;
      padding-top: 50px;
      .welcome-container {
        p {
          line-height: 18px;
          &.title {
            font-size: 25px;
          }
        }
      }
    }
  }

  &.contact-you {
    .details-section {
      > pg-select > .pg-select-selection {
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
  .details-section {
    margin-bottom: 20px;
    > label {
      font-family: $sourceSansPro;
      font-size: 16px;
      color: #525252;
      margin-bottom: 20px;
      &.bold {
        font-weight: 600;
      }
      &.no-margin {
        margin-bottom: 0;
      }
    }
    > p {
      &.normal {
        font-family: $sourceSansPro;
        font-size: 14px;
        color: #959595;
      }
    }
  }

  .investor-container {
    display: flex;
    justify-content: center;
    > .investor-option {
      width: 100%;
      max-width: 400px;
    }
  }
  .options {
    display: flex;
    > .option {
      position: relative;
      cursor: pointer;
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 135px;
      background: rgba(147, 211, 221, 0.1);
      border: 1px solid #37b9c4;
      border-radius: 5px;
      font-family: $sourceSansPro;
      font-size: 14px;
      color: #14a1a8;
      &.bold {
        font-weight: 600;
      }
      > .icon-normal {
        display: block;
      }
      > .icon-white {
        display: none;
      }
      > .check {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 16px;
        display: none;
      }
      &.select {
        background: #14a1a8;
        border-radius: 5px;
        color: #ffffff;
        > .check {
          display: block;
        }
        > .icon-normal {
          display: none;
        }
        > .icon-white {
          display: block;
        }
      }
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
